{% extends 'base.html' %}

<html>

<head>
</head>

<body>

	{% block content %}

		<p>Welcome to the {{ category.name }} page!</p>
		<a href='{{url_for("editCategory", category_id = category.id) }}'>Edit Category</a>
		<a href='{{url_for("deleteCategory", category_id = category.id) }}'>Delete Category</a>
		<br>
		<br>
		
		{% for item in items %}

			<a href='{{url_for("itemPage", category_id = item.category_id, item_id = item.id) }}'>{{ item.name }}</a>
			<br>

		{% endfor %}
		
		<br>
		<a href='{{url_for("newItem", category_id = category.id) }}'>Create a new Item</a>
		<br>
		<br>

	{% endblock %}


</body>

</html>