{% extends 'base.html' %}

<html>

<head>
</head>

<body>

	{% block content %}

	<p class='welcome-message'>Edit {{ category.name }}</p>

	<form action='{{url_for("editCategory", category_id = category.id) }}' method='POST'>
		Name: <input type='text' name='name' value='{{ category.name }}'>
		Picture: <input type='text' name='picture' value='{{ category.picture }}'>
		<input type='submit' value='Edit' class='btn btn-default' role='button'>
		<a href='{{url_for("categoryPage", category_id = category.id) }}' class='btn btn-default' role='button'>
			Cancel
		</a>
	</form>

	{% endblock %}


</body>

</html>