{% extends 'base.html' %}

<html>

<head>
</head>

<body>

	{% block header %}
		<div id='logout'>
			<a id='logout-name' class='btn btn-default' href='{{url_for("gdisconnect") }}' role='button'>Logout</a>
		</div>
	{% endblock %}

	{% block content %}

		<p>Welcome, {{ username }}!</p>
		<br>
		This is the main.html page

		{% for c in categories %}

			<a href='{{url_for("categoryPage", category_id = c.id) }}'>{{ c.name }}</a>
			<br>
		{% endfor %}

		<br>
		<br>
		<a href='{{url_for("newCategory") }}'>New Category</a>

	{% endblock %}


</body>

</html>